{% extends 'base.html' %}

{% block title %}Meu Perfil{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h3 class="text-center">Meu Perfil</h3>
            <p><span class="fw-bold">Usuário: </span>{{cliente.user}}</p>
            <p><span class="fw-bold">Email: </span>{{cliente.user.email}}</p>
            <p><span class="fw-bold">Nome: </span>{{cliente.nome}}</p>
            <p><span class="fw-bold">Endereço: </span>{{cliente.endereco}}</p>
            <p><span class="fw-bold">Cadastrado Em: </span>{{cliente.data_on}}</p>
        </div>
        <hr>
        <div class="col-md-12 mx-auto">
            <h3 class="text-center">Pedidos</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>PedidoID</th>
                    <th>Valor</th>
                    <th>Data Pedido</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td><a href="{% url 'lojaapp:clientepedidodetalhe' pedido.id %}">Pedido_Número-{{pedido.id}}</a></td>
                    <td>R$ {{pedido.total}}</td>
                    <td>{{pedido.criado_em}}</td>
                    <td>{{pedido.pedido_status}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
