{% extends "base.html" %}
{% load humanize %}

{% block title %}VaperBrasil - Página Inicial{% endblock %}

{% block content %}


<div class="container">
    <h1 class="text-center">Bem-vindo(a) a VaperBrasil!</h1>

    <hr>

    <div class="row">
        {% for p in produto_list %}
        <div class="col-md-4">
            <div class="m-3">
                <img src="{{ p.image.url }}" alt="{{ p.nome }}" style="object-fit: cover;" class="img-fluid"
                     width="150">
                <h4>
                    <a href="{% url 'lojaapp:produtodetalhe' p.slug %}">{{ p.titulo }}</a>
                </h4>
                <p>
                    {{ p.descricao }}
                </p>
                <p>
                    {% if p.preco_promocao %}
                    <p class="fw-bold text-success">PROMOÇÃO</p>
                    Preço: <strike>R$ {{ p.preco|intcomma }}</strike>
                    R$ {{ p.preco_promocao|intcomma }}
                    {% else %}
                    Preço: R$ {{ p.preco|intcomma }}
                    {% endif %}
                </p>
                <a href="{% url 'lojaapp:addcarro' p.id %}" class="btn btn-success">
                    Comprar
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

