{% extends "base.html" %}

{% block title %}Produtos{% endblock %}

{% block content %}


<div class="container">
    <h1 class="text-center">Produtos por Categoria</h1>

    {% for cat in todascategorias %}
    <h1 class="mt-3">{{ cat.titulo }}</h1>

    <div class="row">
        {% for p in cat.produto_set.all %}
        <div class="col-md-4">
            <div class="m-3">
                <img src="{{ p.image.url }}" alt="{{ p.nome }}" style="object-fit: cover;" class="img-fluid"
                     width="150">
                <h4>
                    <a href="{% url 'lojaapp:produtodetalhe' p.slug %}">{{ p.titulo }}</a>
                </h4>
                <p>
                    {{ p.descricao }}
                </p>
                <p>
                    Preço: R$ {{ p.preco }}
                </p>
                <a href="{% url 'lojaapp:addcarro' p.id %}" class="btn btn-success">
                    Comprar
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}

