{% extends 'admin_paginas/adminbase.html' %}

{% block title %}Login - Administrador{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <h3>Login Administrador</h3>

            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Entrar</button>

                {% if error  %}
                <li style="color: red; list-style: none;"> {{ error }} </li>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
