{% extends 'admin_paginas/adminbase.html' %}
{% load humanize %}

{% block title %}Home - Administrador{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <h2>Administrador</h2>
            <h3>Pedidos Pendentes</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">ID_Pedido</th>
                        <th scope="col">Data_Pedido</th>
                        <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in PedidosPendentes %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ pedido.ordenado_por }}</td>
                        <td>{{ pedido.id }}</td>
                        <td>{{ pedido.criado_em }}</td>
                        <td>R$ {{ pedido.total|intcomma }}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>

</div>

{% endblock %}
